<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>jQuery UI Datepicker - Default functionality</title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">

  <script>

  $(function() {

        quantityElement = document.getElementById("number_of_nights");
        priceElement = document.getElementById("price");
        totalElement = document.getElementById("calculated_rate");
        taxElement = document.getElementById("tax");
        paymentTotalElement = document.getElementById("payment_total")

        function updateTotal() {
            quantity = parseFloat(quantityElement.value);
            price = parseFloat(priceElement.value);
            total = quantity * price;
            totalElement.value = total;
            taxRate = .125;
            cleaningFee = 50;
            total+=cleaningFee;
            tax = total * taxRate;
            total += tax;
            taxElement.value = tax;
            paymentTotalElement.value = total;

            console.log("The quantity is " + quantity )
            console.log("The price is " + price)
            console.log("The tax is " + tax)
            console.log("The payment total " + paymentTotal)
            console.log("totalElement.value " + totalElement.value)

        }

        quantityElement.addEventListener("change", updateTotal);
        priceElement.addEventListener("change", updateTotal);
        taxElement.addEventListener("change", updateTotal);
        paymentTotalElement.addEventListener("change", updateTotal);


    $( "#check_in_date, #check_out_date" ).datepicker({
         onClose:function(dateText, inst) {

            if($("#check_in_date").val()=='' || $("#check_out_date").val()=='') return;

            var nights = ($("#check_out_date").datepicker("getDate") - $("#check_in_date").datepicker("getDate")) / 1000 / 60 / 60 / 24; // days

            $("#number_of_nights").val(nights);
             updateTotal()
             //check if the check in date exists - values in both fields

             //check to see if check out date exist

             //if they both exist get the number of nights between these two dates

             //stick that value (number of nights) in the number of nights field

         }
    });

      $("#number_of_adults").focusout(function() {

        alert("focus out of number_of_adults");
      });

  });


  </script>


    <meta charset="UTF-8">
    <title></title>
    <script>
        var request = new XMLHttpRequest();



        function simple_draw(data) {
            var list = document.getElementById("list");
            data.forEach(function (item) {
                list.innerHTML += item["name"];
            });
        }

        function element_draw(data) {
            var list = document.getElementById("list");
            data.forEach(function (item) {
                var li = document.createElement("li");
                li.innerHTML = item["name"] + ", " + item["number"];
                list.appendChild(li);
            });
        }

        function classic_for_element_draw(data) {
            var list = document.getElementById("list");
            for (var index = 0; index < data.length; index++) {
                var item = data[index];
                var li = document.createElement("li");
                li.innerHTML = item["name"] + ", " + item["number"];
                list.appendChild(li);
            }
        }


        function draw(data) {
            var list = document.getElementById("list");
            var template = document.getElementById("template");
            var output = [];
            data.forEach(function (item) {
                console.log(item);
                var text = template.innerHTML;
                for (var p in item) {
                    if (item.hasOwnProperty(p)) {
                        text = text.replace("{phone." + p + "}", item[p]);
                    }
                }
                output.push(text)
            });
{#            list.innerHTML = "<li>" + output.join("</li><li>") + "</li>";#}
        }

        function onRequestChange() {
            console.log(request.readyState, request.status);
            if ((request.readyState == 4) && (request.status == 200)) {
                var data = JSON.parse(request.responseText);
                draw(data);
                //simple_draw(data);
                //element_draw(data);
                //classic_for_element_draw(data);
            }
        }

        function fetch() {
            request.onload = undefined;
            request.onreadystatechange = onRequestChange;
            request.open("GET", "/ajax", true);
            request.send();
        }
        function load() {
            fetch();
        }
{#        window.addEventListener("load", load);#}

        function saveData(formData){
            request.open("POST","/ajax",true);
            request.onload = fetch;
            request.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            request.send(formData);
        }
        function captureSubmit(){
            //Get inputs inside form and iterate over them.
            var elementList = document.getElementById("f1").children;
            formDataList = [];
            //Creating something like this:
            //title=spiderman&role=hero&color=red
            for(var i=0; i < elementList.length; i++){
                var element = elementList[i];
                formDataList.push(
                        encodeURIComponent(element.name)
                        + "=" +
                        encodeURIComponent(element.value)
                );
                console.log(element.name);
            }
            saveData(formDataList.join("&"));
            //CANCEL FORM SUBMISSION; must be returned in onsubmit below.


            //Calculate Number of nights with Check in and check out date

            //Calculate Rate

            //Calculate Fee
            return false;
        }



    </script>
    <style>
        .template {
            display: none;
        }
    </style>
</head>
<body>
<form id="f1" action="/ajax" method="post" onsubmit="return captureSubmit()">
    {% csrf_token %}
    <input type="hidden" value="100" name="price" id="price">
    <label for="contact_first_name">First Name</label>
    <input name="contact_first_name">
    <br>
    <label for="contact_last_name">Last Name</label>
    <input name="contact_last_name">
    <br>
    <label for="contact_email_address">Email Address</label>
    <input name="contact_email_address">
     <br>
    <label for="contact_phone_number">Phone Number</label>
    <input name="contact_phone_number">
    <br>
    Check In: <input type="text" id="check_in_date">
    <type="date" id="check_in_date"><img src="/static/calendar.gif"/>
    <br>
    Check Out: <input type="text" id="check_out_date">
    <type="date" id="check_out_date"><img src="/static/calendar.gif"/><br>
    <label for="number_of_nights">Number of Nights</label>
    <input name="number_of_nights" disabled id="number_of_nights">
     <br>
    <label for="number_of_adults">Number of Adults</label>
    <input name="number_of_adults">
     <br>
    <label for="number_of_children">Number of Children</label>
    <input name="number_of_children">
     <br>
    <label for="message_to_hosts">Message to Hosts</label>
    <input name="message_to_hosts">
     <br>
    <label for="calculated_rate">Calculated Rate $</label>
     <input name="calculated_rate" disabled id="calculated_rate">
     <br>
    <label for="cleaning_fee">Cleaning Fee $</label>
    <input name="cleaning_fee" value="50" disabled id="cleaning_fee">
     <br>
    <label for="tax">Tax $</label>
    <input name="tax" disabled id="tax">
     <br>
    <label for="payment_total">Payment Total $</label>
    <input name="payment_total" disabled id="payment_total">
     <br>
    <input type="submit" value="submit">
    </form>

</ul>
<ul class="template">
    <li id="template" class="template">

        </span>
        <br>
        <br>
    </li>
</ul>


</body>
</html>